footer {
    padding-top: 10px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 40px;
}
footer .footer {
    line-height: 37px;
    text-align: center;
    width: 300px;
    border-top: 3px solid #fafafa;
    font-size: 22px;
    color: #fafafa;
}
footer .footer a {
    margin: 0 10px;
}
