@font-face {
    name: 'Eina';
    font-weight: 400;
    font-style: normal;
    src: url(/static/eina-03-regular.ttf);
}
@font-face {
    name: 'Eina';
    font-weight: 600;
    font-style: normal;
    src: url(/static/eina-03-semibold.ttf);
}


div, span, p, h1, h2, h3, h4, h5, h6, input, textarea, img {
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
}
html {
    background-color: #0a0a0a;
    background-position: center;
    background-repeat: repeat;
    background-image: url(../static/space.png);
    font-size: 1em;
    font-family: 'Eina', sans-serif;
    overflow-x: hidden;
    min-width: 320px;
    line-height: 135%;
    color: #fafafa;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: #3498db;
    text-decoration: none;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

a:hover {
    color: #2980b9;
    text-decoration: none;
}

p {
    line-height: 150%;
    margin: 0;
}

button, input {
    outline: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: #fafafa;
}
button {
    cursor: pointer;
}
textarea {
    border: none;
    border-radius: 0;
}

#wrapper {

    flex: 1 0 auto;
}
#content {
    height: 100%;
    overflow: hidden;
}

@media (max-width: 1300px) {
    .fw-center {
        width: 870px;
    }
}
